.page-header {
  color: #fff;
  background-size: cover;
  background-position: center center;
}

.home-left {
  background: linear-gradient(45deg, rgba(30, 30, 30, 0.2), rgba(30, 30, 30, 0.4)), url("/static/header.jpg");
  background-color: #ffffff;
  background-size: cover;
}