.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-body {
  flex: 1;
  margin-bottom: 100px;
}

.layout-footer {
  text-align: center;

  .footer-row {
    padding: 50px 0;
    border-top: 1px solid $theme-light-gray;

    p {
      margin-bottom: 0;
    }
  }
}

hr {
  height: 3px;
  background-color: $theme-light-gray;
  border: 0;
  outline: none;
}

img {
  max-width: 100%;
  height: auto; 
}

.crop {
  overflow: hidden;

  img {
    object-fit: cover;
    width: 400px;
    height: 250px;
    margin: 0
  }
}

.lead {
  font-weight: 300;
  color: $theme-primary
}

.breadcrumb-row {
  margin-bottom: 15px;
}

.cmnav {
  width: 100%;

  .nav-link {
    line-height: 10px;
    margin: 15px 0;

    @media (min-width: 768px) {
      line-height: 25px;
    }
  }

  .navbar-collapse {
    margin-top: 25px;
    @media (min-width: 768px) {
      margin-top: 0;
    }
  }
}

.navbar .navbar-brand, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link {
  border-bottom: 3px solid transparent;
  &:hover {
    border-bottom: 3px solid $theme-primary;
    color: #000;
  }
  &:focus {
    border-bottom: 3px solid $theme-primary;
    color: #000;
  }
}

.jumbotron {
  border-radius: 0;
  @media (min-width: 768px) {
    display: flex;
    min-height: 300px;
  }
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0;
}

.jumbotron-margin {
  margin-bottom: 100px;
}

.page-title {
  color: $theme-dark-gray;
  background: #fff;
  padding: 50px 50px;
  text-align: center;
  @media (min-width: 768px) {
    text-align: left;
    margin: -100px -50px 0px -50px;
  }
}