.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout-body {
  flex: 1;
  margin-bottom: 100px;
}

.layout-footer {
  text-align: center;

  .footer-container {
    padding: 50px 0;
    border-top: 1px solid $theme-light-gray;

    .row {
      margin-bottom: 50px;
    }
  }

  .footer-row {
    p {
      margin-bottom: 0;
    }
  }
}

hr {
  height: 3px;
  background-color: $theme-light-gray;
  border: 0;
  outline: none;
}

img {
  max-width: 100%;
  height: auto; 
}

.crop {
  overflow: hidden;

  img {
    object-fit: cover;
    width: 400px;
    height: 250px;
    margin: 0
  }
}

.lead {
  font-weight: 300;
  color: $theme-primary
}

.breadcrumb-row {
  margin-bottom: 15px;
}

.home-nav {
  box-shadow: $box-shadow-dark;
}

.site-nav {
  width: 100%;

  .nav-logo {
    max-width: 250px;
  }

  .nav-link {
    line-height: 10px;
    margin: 15px 0;
    color: $color-text !important;

    @media (min-width: 768px) {
      line-height: 25px;
    }
  }

  .navbar-collapse {
    margin-top: 25px;
    @media (min-width: 768px) {
      margin-top: 0;
    }
  }
}

.navbar .navbar-brand, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link {
  border-bottom: 3px solid transparent;
  &:hover {
    border-bottom: 3px solid $theme-primary;
    color: #000;
  }
  &:focus {
    border-bottom: 3px solid $theme-primary;
    color: #000;
  }
}

.jumbotron {
  border-radius: 0;
  @media (min-width: 768px) {
    display: flex;
    min-height: 300px;
  }
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0;
  background: $theme-gray;
}

.jumbotron-margin {
  margin-bottom: 100px;
}

.page-title {
  color: $theme-dark-gray;
  background: #fff;
  padding: 50px 50px;
  text-align: center;
  @media (min-width: 768px) {
    text-align: left;
    margin: -100px -50px 0px -50px;
  }
}

.section-title {
  text-align: left;
  color: $theme-teal;
  margin-top: 100px;
  margin-bottom: 50px;

  h2 {
    font-size: 50px;
  }
}

button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;

  padding: 5px 10px;
  background: $theme-dark-gray;
  color: #ffffff;
  border-radius: 4px;
  transition: all .2s ease;

  &:hover {
    background: $theme-red;
  }
}

.wp-block-file__button {
  @extend button;

  &:hover {
    color: #ffffff;
  }
}

.newsletter-signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  
  #mc_embed_signup, .mc_embed_signup_scroll {
    width: 80%;
    max-width: 800px;
  }

  h3 {
    margin-bottom: 30px;
  }

  input {
    margin-bottom: 30px;
    width: 80%;
    max-width: 800px;
    padding: 5px 10px; 
    border: 2px solid $color-text;
  }
}