p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  color: $color-text
}

a {
  color: $theme-primary;
  transition: all .2s ease;
  &:hover {
    text-decoration: none;
    color: $theme-dark-gray
  }
}

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
}