$theme-primary: #e91c61;
$color-text: #212529;
$theme-light-gray: #eaeaea;
$theme-gray: rgb(181, 182, 184);
$theme-dark-gray: rgb(77, 72, 70);
$theme-yellow: rgb(235, 197, 88);
$theme-teal: rgb(82, 183, 196);
$theme-red: rgb(236, 110, 108);
$theme-dark-blue: rgb(51, 75, 146);
$border-radius: 5px;


$box-shadow: 0 3px 8px rgba($theme-gray, 0.8);
$box-shadow-dark: 0 3px 35px rgba(40, 40, 40, 0.4);
$box-shadow-red: 20px 20px 50px rgba($theme-red, 0.25);
$box-shadow-large: 0px 20px 50px rgba($theme-gray, 0.25);;