.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.layout-body {
  flex: 1;
}

.layout-footer {
  height: 200px;
}

.blog-post-content {
  display: flex;
  justify-content: center;
  flex-direction: column;

  img {
    max-width: 100%;
    height: auto;
    
  }
}