@import "vars";
@import "typography";
@import "components";
@import "blog";
@import "backgrounds";

$box-shadow: 0 3px 8px rgba($theme-gray, 0.8);

.listing {
  a {
    display: block;
    padding: 15px;
    transition: all .2s ease;
    &:hover {
      background: $theme-light-gray;
    }
  }
  .crop {
    margin-bottom: 10px;
    box-shadow: $box-shadow
  }
  h2 {
    margin-bottom: 5px;
    color: $theme-primary;
  }
  p {
    color: $color-text;
    margin-bottom: 0;
    font-weight: 300;
    font-style: italic
  }
}

.project-listing {
  margin-bottom: 50px;

  img {
    box-shadow: $box-shadow
  }
}

.heading-line {
  height: 3px;
  background: $theme-primary;
}

.home-header {
  height: 100vh;
  justify-content: center;
  align-items: center;

  .home-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: 50px;;
  }

  .home-right {
    height: 100%;
    background: linear-gradient(45deg, $theme-primary, rgb(82, 183, 196));
    background-size: 200%;
    box-shadow: inset 0px 0 50px rgba(20, 20, 20, 0.25)
  }

  .site-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 8rem;
    margin-bottom: 0;
    line-height: 0.9;
    margin-bottom: 20px;
  }

  .site-lead {
    font-size: 35px;
    line-height: 1.3;
    font-weight: 700;

    span.data-vis {
      color: rgb(235, 197, 88)
    }

    span.experimental-publishing {
      color: rgb(82, 183, 196)
    }

    span.hybridization {
      color: rgb(237, 70, 68)
    }
  }
}
